/*
 --------------------------------------------------------------------------------------------
 ---    _____  _____   _____   ______           _____   _____  ______    _____   _        ---
 ---   / ___ \ | __ \ / ___ \ |  ___ \    ---   | __ \  ___ ] |  ___ \  / ___ \ | |       ---   
 ---   ||___|| | ___/ |  ___/ | |   | |   ---   | ___/ /___ | | |   | | |  ___/ | |___    ---
 ---   \_____/ ||     \_____  |_|   |_|   ---   ||     \____| |_|   |_| \_____  |_____]   ---
 ---                                                                                      ---
 --------------------------------------------------------------------------------------------
  © Copyright. GNU-AGPL V3 (www.choosealicense.com/licenses/agpl-3.0/). All Rights Reserved.
 --------------------------------------------------------------------------------------------

 @author: Arthur "ArT_DsL" Dias dos Santos Lasso
 @created_at: 2021-02-14
 @last_update: 2021-02-14
 @file_type: CSS
*/

/* --- Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

/* --- General --- */
html, body{
	margin: 0px;
	padding: 0px;
}
/* --- Superior Menu --- */
#superior-menu-hop-openpanel{
	margin: 0px;
	padding: 0;
	width: 100%;
	height: 30px;
	background-color: #eaeaea;
	box-shadow: 1px 1px 4px 1px #c3c3c3;
	width: 100%;
	position: absolute;
	display: block;
}
.info-principal-superior-hop-openpanel{
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	margin-top: 0.5%;
	float: right;
	margin-right: 2.5%;
	font-weight: 800;
	font-size: 12px;
}
.version-hop-openpanel{
	font-weight: 400;
	font-family: 'Arial';
}
.icon-logout-hop-openpanel{
	position: absolute;
	display: inline;
	margin-left: 0.5%;
}